<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualize Requests Screen</title>
    <link rel="stylesheet" type="text/css" href="../public/style.css">  
    <script type="text/javascript" src="../controllers/VisualizeRequestsController.js"></script> 
     
   
</head>

<body>
    {{>header}}
    <br>
    <h1>Visualizar Pedidos</h1>
    <br>
    
    <div>
        <table id="requestTable">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Data</td>
                    <td>Nota Fiscal</td>
                    <td>Valor Total</td>
                </tr>
                {{#each requestsList}}
                <div>
                <tr>
                    <td>{{id}}</td>
                    <td>{{datahora}}</td>
                    <td>{{notaFiscal}}</td>
                    <td>{{valorTotal}}</td>                
                    <td><button type="button" id="requestId" onclick="loadRequestDetails({{id}})">Detalhes</button></td>
                </tr>
                {{/each}}
                </div>
            </thead>       
        </table> 
        <br>    
        <div id="requestDetailsBox" style="display: none;">
            <table id="requestDetailsTable">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Data</td>
                        <td>Nota Fiscal</td>
                        <td>Transportadora</td>
                        <td>Frete</td>
                        <td>Desconto</td>     
                        <td>Valor Total</td>
                    </tr>
                </thead>  
            </table>
            <br> 
            <table id="requestProductsTable">
                <thead>
                    <tr>
                        <td>Produto</td>
                        <td>Quantidade</td>
                        <td>Valor Unitário</td>
                    </tr>
                </thead>  
            </table>
        </div>             
    </div>  
   <a id="returnLink" href="/">Voltar</a>

    <br>
    {{>footer}}
</body>
</html> 